<h2 style="text-align: center;">Create Book Here</h2>

<div class="col">
    <div class="row-auto">
      <input type="text" class="form-control" placeholder="title"
       [(ngModel)]=book.title aria-label="title">
    </div>
    <div class="row-auto">
        <input type="text" class="form-control" placeholder="category"
        [(ngModel)]=book.category aria-label="category">
      </div>
      <div class="row-auto">
        <input type="text" class="form-control" placeholder="price"
        [(ngModel)]=book.price aria-label="price">
      </div>
      <div class="row-auto">
        <input type="text" class="form-control" placeholder="publisher"
        [(ngModel)]=book.publisher aria-label="publisher">
      </div>
      <div class="row-auto">
        <input type="text" class="form-control" placeholder="active"
        [(ngModel)]=book.active aria-label="active">
      </div>
      <div class="row-auto">
        <input type="text" class="form-control" placeholder="logo"
        [(ngModel)]=book.image aria-label="image">
      </div>
      <br>
      <div class= "col-12">
        <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
      </div>
</div>

